@import "../../global.scss";

.portfolioItem {
    width: 50%;
    height: 98%;
    position: absolute;
    background: $mainColor;
    z-index: 1;
    display: flex;
    flex-direction: column;

    @include mobile {
        width: 80%;
        height: 95%;
    }

    img {
        position: relative;
        top: 0;
        width: 100%;
        height: 70%;
        border-bottom: 2px solid #000;

        @include mobile {
            height: 40%;
        }
    }

    h2 {
        position: relative;
        width: 90%;
        margin: 0 auto;
        color: black;
        background: $mainColor;
        font-size: 23px;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 10px;

        @include mobile {
            font-size: 13px;
        }
    }

    hr {
        position: relative;
        width: 90%;
        margin: 0 auto;
        background: $mainColor;
        border-top: 1px solid #c0c0c0;
    }

    span {
        position: relative;
        width: 90%;
        margin: 0 auto;
        color: black;
        background: $mainColor;
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
        flex-grow: 1;

        @include mobile {
            font-size: 12px;
        }
    }

    .buttonContainer {
        position: relative;
        background: $mainColor;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;

        .launchButton {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 25px;
            padding: 5px 10px;
            background: crimson;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.5s ease;
    
            .launch {
                color: $mainColor;
                background: crimson;
                vertical-align: middle;
                padding-right: 5px;
                transition: inherit;
            }
    
            span {
                font-size: 13px;
                font-weight: 600;
                color: $mainColor;
                background: crimson;
                transition: inherit;
            }

            &:hover {
                background: $mainColor;
                .launch {
                    color: crimson;
                    background: $mainColor;
                }
                span {
                    color: crimson;
                    background: $mainColor;
                }
            }

            @include mobile {
                width: 75px;
                height: 20px;
                .launch {
                    font-size: 10px;
                }
                span {
                    font-size: 10px;
                }
            }
        }
    
        .closeButton {
            position: absolute;
            display: inline-block;
            width: 40px;
            height: 30px;
            background: $mainColor;
            cursor: pointer;
            right: 0;
            top: 5px;
    
            .close {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $mainColor;
                color: #c0c0c0;
    
                &:hover {
                    color: #9b9b9b;
                }
            }

            @include mobile {
                width: 30px;
                height: 25px;
            }
        }
    }

    &.active {
        z-index: 3;
        opacity: 1;
    }
}
