* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

body, html {
    cursor: url("assets/cursor.png"), pointer;
}
