@import "../../global.scss";

.portfolioList {
    font-size: 0.938rem;
    font-weight: 500;
    margin-right: 3.125em;
    padding: 0.438em;
    border-radius: 0.625em;
    cursor: pointer;

    @include mobile{
        margin-right: 0.625em;
    }

    &.active {
        background-color: gray;
        color: black;
        font-weight: 800;
    }

    &:hover {
        color: crimson;
    }
}
