@import "../../global.scss";

.contact {
    background-color: black;
    color: $mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 40px;
        font-weight: 600;
    }
}
