@import "../../global.scss";

.intro {
    background-color: black;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .bgsquare2 {
            border-radius: 1.25em;
            border: solid 0.938em lightblue;
            padding: 0.313em;
            width: 0.625em;
            height: 0.625em;
            position: absolute;
            margin-left: 34.375em;
            margin-top: 28.125em;
            z-index: 1;
        }

        .bgsquare3 {
            border-radius: 1.125em;
            border: solid 0.938em #89CFF0;
            padding: 0.25em;
            width: 0.5em;
            height: 0.5em;
            position: absolute;
            margin-left: 25em;
            margin-top: 6.25em;
            z-index: 1;
        }
        
        .bgsquare4 {
            border-radius: 1.25em;
            border: solid 0.938em #6495ED;
            padding: 0.313em;
            width: 0.938em;
            height: 0.938em;
            position: absolute;
            margin-left: 9.375em;
            margin-top: 17.5em;
            z-index: 1;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            padding-right: 15.625em;
            display: flex;
            position: absolute;
            flex-direction: column;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);

            span {
                color: $mainColor;
                font-size: 0.938rem;
                font-weight: 200;
                padding-top: 15.625em;

                &:hover {
                    color: crimson;
                }
            }

            @include mobile{
                display: none;
            }
        }

        @include mobile{
            display: none;
        }
    }

    a {
        position: absolute;
        bottom: 0.625em;
        left: 49%;
        z-index: 1;

        img {
            width: 2.5rem;
            animation: arrowBlink 2s infinite ease;
        }

        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        @include mobile{
            flex: 1;
        }

        .bgsquare1 {
            border-radius: 1.25em;
            border: solid 0.938em #6495ED;
            padding: 0.313em;
            width: 0.938em;
            height: 0.938em;
            position: absolute;
            margin-left: 20em;
            margin-top: 1.563em;
            z-index: 1;

            @include mobile{
                margin-top: 4.688em;
                margin-left: 12.5em;
            }
        }

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 5em;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: $mainColor;
                font-size: 6.25rem;
                font-weight: 800;
                margin: 0.125em 0;

                @include mobile{
                    font-size: 3.125rem;
                }
            }

            h3 {
                color: $mainColor;
                font-size: 1.875rem;

                span {
                    font-size: 1.875rem;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }

                @include mobile{
                    font-size: 0.938rem;
                    span {
                        font-size: 0.938rem;
                    }
                }
            }

            @include mobile{
                padding-left: 0;
                width: 18.75em;
            }
        }
    }
}
