@import "../../global.scss";

.aboutme {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    .mainContainer {
        width: 80%;
        height: 31.25em;
        display: flex;
        align-items: center;
        justify-content: center;

        .mainItem {
            width: 100%;
            height: 100%;
            border-radius: 1.25em;
            display: flex;
            align-items: center;
            justify-content: center;

            .left {
                flex: 0.5;
                height: 100%;
                align-items: center;
                justify-content: center;

                @include mobile{
                    height: 90%;
                }

                .leftContainer {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .imgContainer {
                        width: 15.625em;
                        height: 15.625em;
                        border-radius: 1.875em;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                        }

                        @include mobile{
                            width: 6.25em;
                            height: 6.25em;
                            border-radius: 0.938em;
                        }
                    }

                    h2 {
                        font-size: 1.563rem;
                        font-family: 700;
                        color: $mainColor;
                        text-align: center;

                        @include mobile{
                            font-size: 0.938rem;
                        }
                    }

                    h3 {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: $mainColor;

                        @include mobile{
                            font-size: 0.625rem;
                            text-align: center;
                        }
                    }

                    p {
                        font-size: 0.938rem;
                        font-weight: 400;
                        color: $mainColor;
                        text-align: justify;

                        @include mobile{
                            font-size: 0.625rem;
                            text-align: center;
                        }
                    }

                    a{
                        text-decoration: none;
                        span {
                            font-size: 0.938rem;
                            font-weight: 400;
                            color: crimson;
                            cursor: pointer;

                            @include mobile{
                                font-size: 0.625rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .right {
                flex:0.5;
                height: 100%;
                color: $mainColor;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    height: 90%;
                }

                .rightContainer {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    .item {
                        width: 13.125em;
                        height: 13.125em;
                        margin: 1.25em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        transition: all 1s ease;

                        @include mobile{
                            width: 8.125em;
                            height: 5.625em;
                            margin: 0;
                        }

                        img {
                            width: 50%;
                            height: 50%;
                            padding: 0.625em;
                            background-color: $mainColor;
                            filter: invert(0%);
                            border-radius: 1.25em;

                            @include mobile{
                                width: 1.875em;
                                height: 1.875em;
                                padding: 0.313em;
                                border-radius: 0.625em;
                            }
                        }

                        h3 {
                            font-size: 1.25rem;
                            font-weight: 500;
                            margin: 0.625em 0;
                            color: $mainColor;
                            overflow-y: hidden;

                            @include mobile{
                                font-size: 0.625em;
                                margin: 0.313em 0;
                            }
                        }

                        p {
                            font-size: 0.938rem;
                            font-weight: 400;
                            color: $mainColor;
                            text-align: center;
                            overflow-y: hidden;

                            @include mobile{
                                font-size: 0.625rem;
                            }
                        }

                        &:hover {
                            img {
                                filter: invert(100%);
                            }
                            h3 {
                                color: crimson;
                                overflow-y: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}
